# --- added for progressive distillation ---
bitsandbytes
accelerate
# ------------------------------------------
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
anyio
async-timeout
attrs
certifi
charset-normalizer
click
datasets
dill
exceptiongroup
filelock
frozenlist
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
mpmath
multidict
multiprocess
networkx
numpy
packaging
pandas
propcache
pyarrow
Pygments
python-dateutil
pytz
PyYAML
regex
requests
rich
safetensors
shellingham
six
sympy
tokenizers
torch
tqdm
transformers
typer
typing_extensions
tzdata
urllib3
xxhash
yarl
